#navbar ul, #navbar li {
	border: none;
	box-shadow: none !important;
	background-color: #f8f8f8 !important;
	border-color: #e7e7e7 !important;
}

ul {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #bbb;
	background-color: white;
}

li {
	list-style: none;
}