body {
	padding-left: 20px;
}

.courseBlock {
	margin-top: 0px;
}

.crudButtons, .crudButtons div {
	padding: 0px;
}

.form-control {
	width: 25%;
}

.col-sm-2 label {
	margin: 0px;
}

.col-sm-2 span {
	margin-top: 0px;
}

.secondary-title {
	margin-top: 0px;
}

label, .help-block {
	float: right;
	text-align: right;
}

.panel {
	width: 95%;
}

.alert {
	margin: 20px 10px 0px 0px;
}