/* General */
body {
	padding-left: 20px;
}

.crudButtons, .crudButtons div {
	padding: 0px;
}

.alert {
	margin: 20px 10px 0px 0px;
}

.navbar {
	width: 97%;
}

.secondary-title {
	margin-top: 0px;
}

/* Viewing Courses */

.courseBlock {
	margin-top: 0px;
}

.panel {
	width: 97%;
}

/* Forms */
.col-sm-2 label {
	margin: 0px;
}

.col-sm-2 span {
	margin-top: 0px;
}

label, .help-block {
	float: right;
	text-align: right;
}

/* Calendar View */

table {
	width: 97% !important;
	font-weight: bold;
	text-align: center;
}

td {
	width: 8%;
}

.date {
	text-align: left;
}

td li {
	font-weight: normal;
	text-align: left;
}

thead tr th {
	text-align: center;
}