/* General */

body {
	padding-left: 20px;
}

html, body {
	height: 100%;
}

.crudButtons, .crudButtons div {
	padding: 0px;
}

.alert {
	margin: 20px 10px 0px 0px;
}

.navbar {
	width: 97%;
}

.secondary-title {
	margin-top: 0px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -6em;
	padding-bottom: 20px;
}

.footer, .push {
	height: 6em;
}

.footer {
	width: 97%;
	padding: 5px 0px 0px 0px;
	position: relative;

	background-color: #f8f8f8;
	border: 1px solid transparent;
	border-color: #e7e7e7;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Viewing Courses */

.courseBlock {
	margin-top: 0px;
}

.panel {
	width: 97%;
}

#assessments div, #assessments ul, #assessments li {
	box-shadow: none !important;
	border: none;
	list-style-type: disc;
}

/* Forms */

.col-sm-2 label {
	margin: 0px;
}

.col-sm-2 span {
	margin-top: 0px;
}

label, .help-block {
	float: right;
	text-align: right;
}

label #replyField {
	text-align: left !important;
	float: left !important;
}

/* Calendar View */

table {
	font-weight: bold;
	text-align: center;
}

td {
	width: 8%;
}

.date {
	text-align: left;
}

td li {
	font-weight: normal;
	text-align: left;
}

thead tr th {
	text-align: center;
}
