/* General */

body {
	padding-left: 20px;
}

.crudButtons, .crudButtons div {
	padding: 0px;
}

.alert {
	margin: 20px 10px 0px 0px;
}

.navbar {
	width: 97%;
}

#navbar ul, #navbar li {
	border: none;
	box-shadow: none !important;
	background-color: #f8f8f8 !important;
	border-color: #e7e7e7 !important;
}

.secondary-title {
	margin-top: 0px;
}

/* Viewing Courses */

.courseBlock {
	margin-top: 0px;
}

.panel {
	width: 97%;
}

/* Forms */

.col-sm-2 label {
	margin: 0px;
}

.col-sm-2 span {
	margin-top: 0px;
}

label, .help-block {
	float: right;
	text-align: right;
}

/* Calendar View */

table {
	font-weight: bold;
	text-align: center;
}

td {
	width: 8%;
}

.date {
	text-align: left;
}

td li {
	font-weight: normal;
	text-align: left;
}

thead tr th {
	text-align: center;
}

/* Country Selector */

ul {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #bbb;
	background-color: white;
}

li {
	list-style: none;
}
